registry = "https://registry.npmmirror.com"

public-hoist-pattern[]=czg
public-hoist-pattern[]=eslint
public-hoist-pattern[]=husky
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss

shell-emulator=true
auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=true
